<section style="background:#333;color:white;padding: 6% 0">  
   <div id="footer" class="container">
  
    <div class="row">
      <div class="eight columns">
      <p><a href="https://fit.princeotn.edu">Department of French and Italian</a>, Princeton University<br />
      <a href="https://pcls.princeton.edu/">Princeton Center for Language Study</a>, Princeton University<br />
      <a href="https://mcgraw.princeton.edu/">The McGraw Center for Teaching and Learning</a>, Princeton University</p>
      <p>328 Frist Campus Center, Princeton University, Princeton, NJ 08544<br>
PH: 609-258-2575 | FX: 609-258-1433<br><a href="mailto:mcgrawect@princeton.edu">mcgrawect@princeton.edu</a><br/>
<em>A unit of the <a href="http://odoc.princeton.edu/" target="_blank">Office of the Dean of the College</a></em>
</p>

<p> © Copyright 2021 The Trustees of <a href="http://www.princeton.edu">Princeton University</a><br></p>	
      </div>

      <div class="four columns" style="text-align:right"><img src="/assets/images/pu-logo-white.svg"/></div>
      
    </div>
    
        <div class="row" style="margin-top: 5%">
      <div class="twelve columns">
        Francophone map: Underlying lk, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons
      </div>
    </div class='row'>
   
  </div> 
</section>
