


<section id="banner" style="background:url(/assets/images/banners/ivory-coast-bg.jpg);background-size:cover;
background-repeat:no-repeat;position:relative">

<!--<div style="background:rgba(0,0,0,0.3);position:absolute;top:0;bottom:0;left:0;right:0"></div>-->

  <div class="container">  
     <div class="row">
       <div class="twelve columns" style="text-align:center">
        <a href="index.php"><img src="assets/images/logo-bold-white-phonie.svg" style='margin-top:9%;width:68%;:min-width:300px'/></a>
        <h1 style='display:none;'>Francophonie: a database of francophone equivalencies</h1>
        <ul class='nav'>
          <li><a href="/">Home</a></li>
	  <li><a href="/soumettre">Soumettre</a></li>
	  <li><a href="/chercher">Chercher</a></li>
	  <li><a href="/graph">Graph</a></li>
	</ul>

	

       </div>
    </div>
  </div> <!--/container -->
  <div id="jump" style="height: 100px;width: 100%;background: white;transform: rotate(2.6deg);position:absolute;bottom:-50px;"></div>
  
</section>

